/* Static themeing goes here. Dynamic themeing rules go in theme.ts. */

@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-Regular.ttf'), local('Roboto Condensed'), local('Roboto');
}
@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-Italic.ttf'), local('Roboto Condensed'), local('Roboto');
    font-style: italic;
}

/* The default. A pleasing Arial-like font that acts as a unified, body text serif with distinct I1l rendering. */
@font-face {
    font-family: 'STIX Two';
    src: local('STIX Two'), url('./fonts/STIXTwo-Regular.ttf');
}
@font-face {
    font-family: 'STIX Two';
    src: local('STIX Two'), url('./fonts/STIXTwo-Italic.ttf');
    font-style: italic;
}

/* The leading free dyslexic font. Bundled for guaranteed availability. Not a fallback; it can annoy some users. */
@font-face {
    font-family: 'OpenDyslexic';
    src: url('./fonts/OpenDyslexic-Regular.otf'), local('OpenDyslexic Regular');
}
@font-face {
    font-family: 'OpenDyslexic';
    src: url('./fonts/OpenDyslexic-Bold.otf'), local('OpenDyslexic Bold');
    font-weight: bold;
}
@font-face {
    font-family: 'OpenDyslexic';
    src: url('./fonts/OpenDyslexic-BoldItalic.otf'), local('OpenDyslexic BoldItalic');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'OpenDyslexic';
    src: url('./fonts/OpenDyslexic-Italic.otf'), local('OpenDyslexic Italic');
    font-style: italic;
}

/* A popular alternative with support for most glyphs, and fallbacked for that reason. */
@font-face {
    font-family: 'Noto Serif';
    src: local('Noto Serif'), url('./fonts/NotoSerif-Regular.ttf');
}
@font-face {
    font-family: 'Noto Serif';
    src: local('Noto Serif'), url('./fonts/NotoSerif-Italic.ttf');
    font-style: italic;
}

/* Comfortaa is bundled as an alternative that's popular among users. */
@font-face {
    font-family: 'Comfortaa';
    src: local('Comfortaa'), url('./fonts/Comfortaa.ttf');
}

/* Arial (not bundled) is set up to render Il with serifs so 1Il are all visually distinct, for accessibility. */
@font-face {
    font-family: 'Arial';
    src: local('Arial');
    font-feature-settings: 'ss01' 1;
}
@font-face {
    font-family: 'Arial';
    src: local('Arial Bold');
    font-feature-settings: 'ss01' 1;
    font-weight: bold;
}
@font-face {
    font-family: 'Arial';
    src: local('Arial Italic');
    font-feature-settings: 'ss01' 1;
    font-style: italic;
}
@font-face {
    font-family: 'Arial';
    src: local('Arial Bold Italic');
    font-feature-settings: 'ss01' 1;
    font-weight: bold;
    font-style: italic;
}

:root {
    --fallback-fonts: "STIX Two", "Noto Serif", serif;
}

/* Along with flex-grow on body, this makes the body fill all space. */
html {
    display: flex;
    flex-direction: column;
    min-height: calc(100% - 1px); /* Avoids a 1px rounding offset (Firefox) */
}

body {
    flex-grow: 1;
    font-family: var(--fallback-fonts); /* These are safe for GUI too, unlike the chosen reading font. */
    display: flex; /* flex + justify-content centers the header and reading column. */
    justify-content: center;
    margin-bottom: 0;
    margin-top: 0;
}

#page {
    display: flex;
    flex-flow: column;
    position: relative; /** Allows overlay to be absolutely positioned and expand with it. */
}

button {
    border-color: transparent; /* To appear around the button without pushing layout. */
    border-radius: 0.4rem;
    border-width: 0.2rem;
    margin: 0.25rem;
    min-height: 1.5rem;
    padding: 0.2rem;
}

button:not(:disabled) {
    cursor: pointer;
}

button:disabled,
select:disabled,
input:disabled,
textarea:disabled,
input[type="checkbox"]:disabled {
    cursor: not-allowed;
    border: none;
    outline: none;
}

button,
select,
input[type="number"],
input::placeholder,
textarea::placeholder {
    font-size: 1rem; /* Firefox (Linux) needs this */
}

fieldset {
    border: none;
    margin: 0;
    padding: 0;
}
legend {
    margin-bottom: 0.2rem;
}

input[type="checkbox"] {
    appearance: none;
    border: 0.1rem solid black;
    text-align: center;
    margin-left: 0; /* Checkbox labels are clickable so let's avoid weird gaps from browser-applied margins. */
}

input[type="checkbox"]:checked:after {
    content: "✔";
}

select {
    appearance: base-select; /* Limited support. If valid, lets us set the hovered option color. */
    min-height: 1.4rem;
}

/* Markdown: keep buttons flush with paragraph left edge. */
p > button {
    margin-left: 0rem;
}

textarea {
    display: block;
    width: 100%;
    max-width: 100%; /* Resize handle otherwise lets it explode past 100%. */
    min-height: 4rem;
}

#readRuler,
#readRulerAbove,
#readRulerBelow {
    position: absolute;
    width: 100%;
    display: block;
    pointer-events: none;
}

#mainColumn,
#preferences {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    padding-left: 2rem;
    padding-right: 2rem;

    /* Markdown: in-line adjacent buttons */
    & button + button {
        margin-left: 0.75rem;
        margin-right: 0.75rem;
    }
    & button:has(+ button) {
        margin-right: 0.75rem;
    }

    /* Markdown: buttons on separate lines */
    & br + button {
        margin-top: 1.5rem;
    }

    /* Visually hides content off-screen, intended for screen readers only. The inverse is aria-hidden=true.
    Recommended by WebAIM. https://webaim.org/techniques/css/invisiblecontent/
    Note: the focus rectangle created by some screen readers should be on the visible content instead, but it can't be
    detected by any means (it's not part of, or hinted to the browser!) and so it can't be restored. */
    & .sr-only {
        position: absolute;
        left: -10000px;
        top: auto;
        width: 1px;
        height: 1px;
        overflow: hidden;
    }
}

#leftGutter,
#rightGutter {
    flex-grow: 1;
    pointer-events: none;
    z-index: 1; /* Required for theme tint to cover the text of disabled controls. */
}

/* A way to tint any theme that also affects page gutters. */
#overlay {
    height: 100%;
    pointer-events: none;
    position: absolute;
    width: 100%;
    z-index: 1; /* Required for theme tint to cover the text of disabled controls. */
}

/* The reading column and input box together. */
#outputArea {
    align-self: center;
    width: 100%;
}

#preferences {
    font-family: var(--fallback-fonts); /* Don't use the reading font. */

    & button {
        margin: 0.4rem;
    }

    & summary,
    & button {
        min-width: fit-content;
    }

    & .controlRow {
        display: flex;
        flex-direction: column;
        margin-bottom: 0.75rem;
        margin-top: 0.75rem;
        /* We highlight controlRow for checkboxes to clarify the space between is clickable, since browsers do
        this, but we don't want it to misinform the user where that interactive area extends, so shrink to fit. */
        width: fit-content;
    }

    /* Checkboxes are in-line */
    & .controlRow.inline {
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
    }

    /* When controlRow is highlighted for checkboxes, use a pointer like any button. Because this is automatic,
    browsers really should do it themselves. */
    & .controlRow:has(> input[type="checkbox"]:not(:disabled)):hover,
    & label:has(+ input[type="checkbox"]:not(:disabled)):hover,
    & input[type="checkbox"]:not(:disabled):hover {
        cursor: pointer;
    }
    
    & input {
        vertical-align: middle;
        min-height: 1.2rem;
    }
    & input[type='checkbox'] {
        height: 1.2rem;
        font-size: 0.8rem;
        line-height: 1rem; /* Avoids size jitter from the checkmark. */
        width: 1.2rem;
    }
    & input[type='range'] {
        min-width: 10rem;
    }
    & input[type='color'] {
        width: 2rem;
    }
    
    /* Checkbox labels are clickable so let's avoid weird gaps from browser-applied margins. */
    & label:not(:has(+ input)) {
        margin-right: 0.2rem;
    }
    & label:has(+ input) {
        margin-right: 0.2rem;
    }

    & h1 {
        margin-bottom: 0;
    }
    & h2 {
        margin: 0;
        display: inline;
        font-size: 1rem;
    }
    & details[open] {
        padding-bottom: 1rem;
    }
    & summary {
        cursor: pointer;
        padding: 0.2rem;
    }

    & .suggestableInputTray {
        position: absolute;
    }
    & .suggestableInputEntry {
        border-radius: 0;
        width: 100%;
        padding: 0 0 0 0.1rem;
        margin: 0;
        text-align: left;
    }

    /** This crazy line hides the tray results if nothing in the tray has focus, nor the textbox. It avoids some
    slow javascript workarounds since onfocusout is *also* not browser-stable, but this is. Nifty! */
    .suggestableInputContainer:not(:focus-within):not(:has(input[type='text']:focus)) .suggestableInputTray {
        display: none;
    }
}
